/* Mobile: 375px - Desktop: 1440px */
/* Family: [Poppins](https://fonts.google.com/specimen/Poppins) - Weights: 200, 400, 600 */
/* Font size: 15px */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600&display=swap');

:root {
    /* Colors */
    /* Primary Colors */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    /* Neutral Colors */
    --Grey-500: hsl(234, 12%, 34%);
    --Grey-400: hsl(212, 6%, 44%);
    --White: hsl(0, 0%, 100%);
}