/* Mobile: 375px - Desktop: 1440px */
/* Family: [Inter](https://fonts.google.com/specimen/Inter) - Weights: 400, 700, 800 */
/* Font size (paragraph): 15px */

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../fonts/static/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('../fonts/static/Inter-Bold.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 800;
    src: url('../fonts/static/Inter-ExtraBold.ttf');
}

:root {
    /* Primary Colors */
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    /* Neutral Colors */
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Inter';
    background-color: var(--off-white);
}

.page {
    max-width: 420px;
    width: 100%;
    padding: 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.top img {
    width: 100%
}

.new-card {
    background-color: var(--very-dark-blue);
    padding: 10px;
    margin: 20px 0 20px 0;
}

.new-card h1 {
    color: var(--soft-orange)
}

.card-content h2 {
    color: var(--off-white);
}

.card-content p {
    color: var(--grayish-blue)
}

.top-news {
    display: flex;
    margin: 20px;
}

.top-news img {
    width: 128px;
    height: 128px;
}

.hidden {
  display: none;
}

