/* Mobile: 375px - Desktop: 1440px */
/* Font size: 13px */
/* Family: [Barlow Semi Condensed](https://fonts.google.com/specimen/Barlow+Semi+Condensed) - Weights: 500, 600 */

:root {
    /* Colors */
    
    /* Primary Colors */
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);

    /* Neutral */ 
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);
}