/* Mobile: 375px - Desktop: 1440px */
/* Family: [Rubik](https://fonts.google.com/specimen/Rubik) - Weights: 300, 400, 500 */
/* Font size: 18px (card titles e.g. Work, Play) */

:root {
    /* Primary Colors  */
    --purple-600: hsl(246, 80%, 60%); 
    --orange-300:hsl(15, 100%, 70%); /* Work */
    --blue-300: hsl(195, 74%, 62%); /* Play */
    --pink-400:hsl(348, 100%, 68%); /* Study */
    --green-400: hsl(145, 58%, 55%); /* Exercise */
    --purple-700: hsl(264, 64%, 52%); /* Social */
    --yellow-300: hsl(43, 84%, 65%); /* Self care */

    /* Neutral Colors  */
    --navy-950: hsl(226, 43%, 10%);
    --navy-900: hsl(235, 46%, 20%);
    --purple-500: hsl(235, 45%, 61%);
    --navy-200: hsl(236, 100%, 87%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--navy-950);
    font-family: 'Rubik', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tracking-card {
    max-width: 375px;
    width: 100%;
}

.profile-info {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple-700);
    border-radius: 10px;
    position: relative;
    gap: 20px;
}

.profile-info img {
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50%;
}

.profile-info p {
    font-size: 1rem;
}

.profile-info h1 {
    font-size: 1.5rem;
    font-weight: 300;
}

.profile-period {
    background-color: var(--navy-900);
    display: flex;
    justify-content: space-around;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    margin-top: -10px;
}

.profile-period button {
    background: none;
    border: none;
    color: var(--navy-200);
    font-size: 1rem;
    cursor: pointer;
}

.profile-period button:hover {
    color: white;
}

.cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.card {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.card-bg {
    height: 40px;
    position: relative;
}

.card-bg img {
    position: absolute;
    width: 40px;
    top: -5px;
    right: 15px;
}

.card-body {
    background-color: var(--navy-900);
    border-radius: 15px;
    padding: 20px;
    margin-top: -20px;
    cursor: pointer;
}

.card-body header {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.time {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.hours {
    font-size: 2rem;
    font-weight: 300;
}

.previous {
  color: hsl(236, 100%, 87%);
  font-size: 0.9rem;
}

.work {
    background-color: var(--orange-300);
}

.play {
    background-color: var(--blue-300);
}

.study {
    background-color: var(--pink-400);
}

.exercise {
    background-color: var(--green-400);
}

.social {
    background-color: var(--purple-700);
}

.self-care {
    background-color: var(--yellow-300);
}

@media (min-width: 768px) {
    .tracking-card {
        max-width: 1110px;
    }
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}