/* Mobile: 375px - Desktop: 1440px */
/* Font size (paragraph): 16px */
/* Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif) - Weights: 400 */
/* Family: [Outfit](https://fonts.google.com/specimen/Outfit) - Weights: 400, 600, 700 */

:root {
    --white: hsl(0, 0%, 100%);
    --stone: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

@font-face {
    font-family: 'Young Serif';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400 600 700;
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}